site_name: Interoception
site_url: https://peleke.github.io/interoception/
site_description: Coherence sensing for autonomous AI agents
repo_url: https://github.com/Peleke/interoception
repo_name: Peleke/interoception

theme:
  name: readthedocs

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - tables
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - https://unpkg.com/mermaid@11/dist/mermaid.min.js

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Quick Start: getting-started/quickstart.md
      - Core Concepts: getting-started/concepts.md
  - Guides:
      - Coherence Sensor: guides/sensor.md
      - Metrics: guides/metrics.md
      - Coherence Index: guides/coherence-index.md
      - Pluggable Interfaces: guides/pluggable-interfaces.md
      - Vector Utilities: guides/vector-utilities.md
  - Reference:
      - Type Reference: reference/types.md
      - API Exports: reference/exports.md
  - Changelog: changelog.md
